In [16]:
import time
lst = [1,2,3,4,5]
[x for x in lst]

[1, 2, 3, 4, 5]

In [4]:
[x**2 for x in lst]

[1, 4, 9, 16, 25]

In [17]:
[x for x in lst if x>2 and x%2 ==0] # we can replace second 'and' with if

0.0

In [10]:
[x if x>1 else '<= 1' for x in lst ]

['<= 1', 2, 3, 4, 5]

In [14]:
x = [1,2,3]
y = [4,5,6]
[(i,j) for i in x for j in y]

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [7]:
n = 20

for i in range(2,n):
    if n%i==0:
        for j in range(2,i):
            if i%j==0:
                print(j)

2
2
5

In [23]:
m = 100
for i in range(2,m):
    if m%i==0:
        for j in range(2,i):
            if i%j==0:
                print(j)

2
2
5
2
4
5
10
5
2
5
10
25